.centered-container-h1 {
  display: grid;
  place-items: center;
  height: 15vh;
}
/* NAVBAR */

.navbar {
  display: flex;
  justify-content: center;
  background: #333;
  padding: 10px 0;
}

.nav-items {
  list-style: none;
  display: flex;
  padding: 0;
}

.nav-item {
  padding: 0 20px;
  color: white;
  text-align: center;
}

.nav-item:hover {
  background: #555;
}

/* COLUMN */

.search-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 46px;
  margin-top: 40px;
}

/* COLUMN */

.search-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 46px;8
  margin-top: 40px; 
}

.search-box {
  padding: 8px;
  width: 50%; 
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 2px;
  /* Rounds the corners of the input box */
}

.search-item label {
  margin-bottom: 10px;
}
